{# success.stream.html.twig #}
<turbo-stream action="prepend" target="formRegister">
    <template>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success w-100 d-flex justify-content-center" >
                {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
        {# {{ include('registration/register.html.twig') }} #}
    </template>
</turbo-stream>