<div class="wifiOff">
    <div class="modal" style="background-color: #0000008a; " tabindex="-1">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content bg-dark text-white">
            
            <div class="modal-body fs-4 text">
                <h3 class="lost-connexion-h3"><i class="bi bi-wifi-off"></i> Votre connexion internet a été interrompu! Veuillez vous connecter à internet. </h3>
            </div>
        
            </div>
        </div>
    </div>
</div>