<turbo-stream action="prepend" target="GestionProfil">
    <template>  
        <div class="alert alert-success w-100" >
            {% if success is defined %}
                {{ success }}
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


    </template>
</turbo-stream>
