<div {{ attributes }} class="d-flex flex-column align-items-center">
    <div class="d-flex justify-content-center w-100 align-items-center divSearch">
        <input
            type="text"
            data-model="query"
            placeholder="Recherche par Nom | Ville | Date de tir | Vrp "
            style="max-width: 700px !important;"
            class="form-control"
            id="searchBar"
        >
        <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-title="Je peux rechercher un dossier soit par : son nom, le nom du vrp, le type de feu, le jour, le mois, ou l'année du tir de feu. " width="25" height="25" fill="currentColor" class="bi bi-info-circle-fill ms-2" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" style="color: cornsilk;"></path>
        </svg>
        
    </div>
    

    {% if this.dossiersSearch is not empty  %}
        <div class="mt-3 row w-85 dossier-container justify-content-center">
           {% for dossier in this.dossiersSearch %}
                {{ component('dossier', {'id': dossier.id}) }}
            {% endfor %}

        </div>
    {% elseif this.dossiersSearch|length == 0 and this.query is empty %}
        <div id="noDossierFoundLive"class="pt-3 text-white text-center mt-3 fs-3 ">Aucun dossier disponible.</div>
        <script>
        
        </script>
    {% else %}
        <div class="pt-3 text-white text-center mt-3 fs-3 noResultLive">Ah! Aucun résultat pour cette recherche : <span class="font-weight-bold">"{{ this.query }}"</span></div>
   
    {% endif %}

</div>

